#exit {
    background-color: aqua;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
label {
    text-align: center;
}
select {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
button {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
input {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
a {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#myProgress {
  width: 100%;
  background-color: grey;
  border-radius: 15px;
  display: none;
}
#myBar {
  width: 1%;
  height: 30px;
  background-color: green;
  border-radius: 15px;
  display: none;
}